#Play:hover {
    -fx-background-color: #F4BF96;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-radius: 10 10 10 10;
}
#Return:hover {
    -fx-background-color: #F4BF96;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-radius: 10 10 10 10;
}
#Exit:hover {
    -fx-background-color: #F4BF96;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-radius: 10 10 10 10;
}